*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(135, 0, 246);
    
}

nav ul{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
}
nav ul a{
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px 20px;
    text-decoration: none;
}
nav ul a:hover{
    transition: 0.2s;
    background: #169d31;
    font-size: 1.3em;
}