*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* html{
    scroll-snap-type: y mandatory;
} */

header{
    position: absolute;
    width: 100%;
    align-items: center;
    z-index: 100;
}

body{
    background-color: white;
    overflow-x: hidden;
    min-height: 100vh;
}

/* styling for my page's links */
nav ul{
    display: flex;
    justify-content: center;
    margin: 50px;
    list-style: none;
}

nav a{
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 600;
    padding: 3px 10px;
    margin: 10px;
    text-decoration: none;
    transition: .5s;
}

nav a:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.2s;
    font-size: 1.2em;
    border-radius: 30px;
}

/* maybe this will turn out to be a horrific idea, but i dont know. the original idea was to have scroll snapping and a parallax, to make the website more interesting, but the scroll snap didnt work properly with the scrollwheel, so i opted for simple parallax layers */

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url('/images/Space.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}
h1{
    top:20%;
    transform: translateY(-50%);
    text-align: center;
    width:100%;
    left:0;
}
#text{
    position:absolute;
    padding-top: 100px;
    font-size: 10em;
    color: crimson;
    z-index: 1;
}
#subText{
    top: 40%;
    position:absolute;
    font-size: 3em;
    color: rgb(35, 64, 88);
    z-index: 1;
}
#trackpad{
    top: 75%;
    position:absolute;
    font-size: 1em;
    color: rgb(255, 255, 255);
    z-index: 1;
}
#para1, #para2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 100%;
    text-align: justify;
    padding: 300px;
    position:absolute;
    color: rgb(255, 255, 255);
    z-index: 0;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events:none;
}
.parallax img#earth{
    z-index: 1;
}

.parallax img#stars1, img#stars2{
    transform: translateY(-450px);
    z-index: 1;
}

.parallax img#hill{
    transform: translateY(500px);
    z-index: 1;
}
.parallax img#fire{
    transform: translateY(1060px);
    z-index: 1;
}

.parallax img#Cloud1, img#Cloud2, img#Cloud3{
    transform: translateY(120px);
    z-index: 1;
}

.parallax img#Leaves1, img#Leaves1{
    transform: translateY(120px);
    z-index: 1;
}

.about{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 0%;
    text-align: justify;
    padding: 300px;
    color: rgb(255, 255, 255);
    align-items: center;
}
.why{
    top: 20%;
    position:absolute;
    font-size: 3em;
    color: steelblue;
    z-index: 1;
}
.button{
    z-index: 100;
}

/* This is perhaps the worst way to do this. Separating them into classes like this. The main reason i did this was to make sure i can customize each section, and make them look unique. If there's a way to do it through JavaScript, at this moment, i am not aware of that method.  */

/* .Section1{
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    background: url(/images/Space.png);
    background-size: cover;
    background-position: center;
}
.title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 50px;
    word-spacing: 100px;
    width: 900px;
    color:rgb(255, 255, 0);
    left:0;
    font-size: 200px;
}

.Section2{
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    background: url(/images/Dino.png);
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
}

.Section3{
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align:center;
    position: relative;

    background: url(/images/Space.png);
    background-size: cover;
    background-position: center;
    
}

.Section4{
    
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align:center;
    position: relative;

    background: url(/images/Space.png);
    background-size: cover;
    background-position: center;
    
}

.Section5{
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align:center;
    position: relative;

    background: url(/images/Space.png);
    background-size: cover;
    background-position: center;
} */

/* h1{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    width:100%;
    left:0;
    font-size: calc(1rem+3vw);
} */

